<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            display: flex;
            flex-direction: column;
            margin: 4px;
        }
        .main{
             display: flex;
             justify-content: space-around;
             background-color: rgb(180, 22, 32);
        }
        .main a{
             font-size: 18px;
             font-weight: bolder;
              color: aqua;
        }
    </style>
</head>
<body>
       <h1>Project</h1>

       <div class="main">
            <a href="/Book">Add Account</a>
            <a href="/"> Acount</a> 
       </div>
</body>
</html>